<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="refreshIntervalMs" value="100"/>
    <add key="monitors" value="[{name: '\\\\.\\DISPLAY1', scale:1}, {name:'\\\\.\\DISPLAY2', scale:0.85714}]"/>
  </appSettings>
</configuration>